body{
	margin-top: -10px;
	font-family: mulish;
	color: #3A3A3A;
}
.back_pic{
	background: linear-gradient(0deg, rgba(0, 22, 67, 0.5), rgba(0, 22, 67, 0.5)), url(backpic.svg);
	height: 900px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar ul{
	display: flex;
	width: 85%;
	padding: 0px 100px;
}
.navbar li{
	list-style-type: none;
	color: white;

}
.navbar ul li a{
	text-decoration: none;
}
.navbar_logo{
	flex: 1;
	display: flex;
	padding: 30px 20px;
	

	margin-top: -20px;

}
.logo_style{
	padding-left: 20px;
	font-size: 24px;
	font-weight: bold;
	background: linear-gradient(to bottom right,#FFA700,#fff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;

}
.navbar_toggle{
	display: none;
}
.navbar_links{
	padding: 35px 20px; 
}
.give{
	color: #fff;
}
.color_1{
	color: #fff;
}	
.active{
	color: #FFA700; 
}
.pic_word_margin{
	margin-top: 275px;
	}
.back_word1{
	font-size: 24px;
	line-height: 55px;
	color: #fff;

}
.back_word2{
	font-size: 50px;
	line-height: 100px;
	color: #fff;
	font-weight: bold;
}
.hire_button{
	font-size: 24px;
	margin-top: 45px;
	font-weight: bold;
	color: #fff;
	background-color: #FFA700;
	padding: 24px 80px;
	cursor: pointer;
	border: none;
}
.hire_button:hover{
	background-color: rgba(0, 22, 67, 0.5);
}
.aboutus_head{
	font-size: 32px;
	margin: 80px 0px 50px 0px;
	font-weight: bold;

}
.flex_aboutus{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px 100px;
}
.aboutus{
	width: 330px;
	height: 470px;
	 

}
.abt{
	border-right: 1px solid #FFA700;
	border-bottom: 1px solid #FFA700;
	border-left: 1px solid #FFA700;
	border-radius: 0px 0px 10px 10px;
	margin-top: -20px;

}
.abt_img{
	width: 330px;

}
.abt_title{
	font-size: 22px;
	font-weight: bold;
	margin: 16px 0px 24px 20px;
	padding-top: 16px;

}
.abt_desc{
	color: rgba(58, 58, 58, 0.7);
	font-size: 18px;
	margin: 0px 20px 34px 20px;

}
.read_more{
	padding: 24px 80px;
	border: 1px solid #FFA700;
	color:#3A3A3A;
	background-color: #fff;
	font-size: 24px;
	margin: 104px 0px;
	cursor: pointer;
}
.read_more:hover{
	background-color: rgba(0, 22, 67, 0.5);
}
.fea{
	background-color: #F9F9F9;
}
.featured_post_head{
	padding: 50px 0px;
	font-size: 32px;
	font-weight: bold;
}
.flexfeanav{
	display: flex;
	flex-wrap: wrap;
	margin: 0px 136px 68px 136px;
	justify-content: space-around;
}
.feanav{
	padding: 16px 55px;
	text-align: center;
	background-color: #DDDDDD;
	color: #3A3A3A80;
	font-weight: bold;
	font-size: 16px;
}
.feanav_active{
	padding: 16px 25px;
	text-align: center;
	background-color: #FFA700;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.flex_feapic{
	display: flex;
	flex-wrap: wrap;
	margin: 0px 100px 90px 100px;
	justify-content: space-around;

}
.feapic{
	width: 300px;
	height: 380px;

}
.fea_button{
	padding: 24px 80px;
	border: 1px solid #FFA700;
	background-color: #F9F9F9;
	font-weight: bold;
	font-size: 24px;
	border-radius: 5px;
	margin-bottom: 130px;
	cursor: pointer;
}
.fea_button:hover{
	background-color: rgba(0, 22, 67, 0.5);
}
.ourworkflow_back{
	background: linear-gradient(0deg, rgba(0, 22, 67, 0.8), rgba(0, 22, 67, 0.8)), url(ourworkflowback.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.flex_ourworkflow{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px 120px 57px 120px; 
}
.owf_words{
	width: 40%;
	line-height: 30px;
	padding-top: 50px;
}
.ourworkflow_pic{
	padding-top: 120px;

}
.ourworkflow_head{
	font-weight: bold;
	font-size: 32px;
	color: #FFA700;
}
.ourworkflow_desc{
	color: #fff;
	size: 22px;
	font-weight: bold;
	padding-bottom: 40px;
}
.owf_head{
	font-weight: bold;
	font-size: 24px;
	color: #FFA700;

}
.owf_desc{
	font-size: 18px;
	color: #fff;
	padding-bottom: 20px;
}
.ourservice_head{
	padding: 50px 0px;
	font-weight: bold;
	font-size: 32px;
}
.flex_ourservices{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px 100px 64px 100px;
}
.Services{
	border: 1px solid #FFA700;
	padding: 46px 58px;
	margin-bottom: 50px;
	width: 20%;
}
.ourservice_title{
	font-size: 24px;
	font-weight: bold;
	color: #FFA700;
	margin-bottom: 40px;

}
.ourservice_desc{
	color: rgba(58, 58, 58, 0.7);
	font-size: 18px;

}
.whatpeoplesay{
	background-color: #F9F9F9;
}
.whatpeoplesay_head{
	padding: 80px 0px 130px 0px;
	color: #3A3A3A;
	font-size: 32px;
	font-weight: bold;
}.flex_wps{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px 100px;
}
.wps{
	padding: 40px 57px 43px 57px;
	background: #FFFFFF;
	box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	width: 21%;
	border-bottom: 7px solid #FFA700;
}
.wps_pic{
	position: relative;
	bottom: 120px;


}
.comment{
	font-size: 28px;
	text-align: center;
	padding-bottom: 50px;
	color: rgba(58, 58, 58, 0.7);
}
.author_name{
	text-align: center;
	padding-top: 50px;
	color: #000;
	font-size: 24px;
	font-weight: bold;

}
.change_pic{
	padding: 65px 0px;
	cursor: pointer;
}
.ourcompany{
	margin-bottom: 67px;
}
.ourcompany_head{
	padding: 80px 0px 50px 0px;
	color: #3A3A3A;
	font-size: 32px;
	font-weight: bold;
}
.flex_com{
	display: flex;
	justify-content: center;
	
}
	
.first_box{
	padding: 80px 65px 40px 65px;
	box-shadow: 3px -3px 20px rgba(0, 0, 0, 0.15);
	width: 35%;
	line-height: 30px;
}
.first_head{
	padding-bottom: 53px;
	font-size: 24px;
	font-weight: bold;
	color: #3A3A3A;

}
.first_words{
	color: rgba(58, 58, 58, 0.7);
	font-size: 18px;
}

.yel_icon{
	padding-right: 10px;

}
.blog_head{
	padding: 93px 0px 50px 0px;
	font-weight: bold;
	font-size: 32px;
}
.blog_date{
	padding: 9px 25px;
	background-color: #FFA700;
	width: 90px;
	color: #fff;
	font-size: 18px;
	position: relative;
	top: 40px;
}
.blog_title{
	color: #000;
	padding-top: 16px;
	padding-bottom: 24px;
	font-size: 16px;
	font-weight: bold;
}
.blog_desc{
	color: rgba(58, 58, 58, 0.7);
	font-size: 18px;
	padding-bottom: 10px;



}
.blog_word{
	padding: 0px 67px 20px 20px;
	margin-top: -5px;
	border-radius: 0px 0px 10px 10px;
	width: 261px;
	border-right: 1px solid #FFA700;
	border-left: 1px solid #FFA700;
	border-bottom: 1px solid #FFA700;

}
.blog_readmore{
	color: #FFA700;
	font-size: 18px;
}
.flex_blog{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px 100px;
} 
.blog_img{
	width: 350px;
}
.blog_post{
	background-color: #F9F9F9;
	padding-bottom: 67px;
}
.review_back{
	background: linear-gradient(0deg, rgba(0, 22, 67, 0.8), rgba(0, 22, 67, 0.8)), url(review.svg);
	background-repeat: no-repeat;
	background-size: cover;

}
.flex_reviews{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.reviews{
	padding: 114px 0px;
	color: #fff;
}
.review_number{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.review_words{
	font-size: 24px;
	text-align: center;
}
.contact_us{
	padding: 80px 0px;
}
.con_head{
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 16px;
}
.con_title{
	padding-bottom: 50px;
	color: #3A3A3A;
}
.flex_contacts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px 120px;
}
.flex_con{
	display: flex;
}
.con_img{
	margin-bottom: 50px;
	width: 40px;
	height: 40px;
}
.con_desc1{
	color: #3A3A3A;
	font-size: 22px;

}
.con_desc2{
	color: rgba(58, 58, 58, 0.5);
	font-size: 20px;


}
.con_num{
	color: #FFA700;
}
.loc_img{
	width: 100%;
	margin-bottom: 10px;
}
.foot{
	background-color: #000;
	padding: 78px 156px;
}
.input{
	width: 81%;
	height: 83px;
	color: #555555;
	font-family: poppins;
}
.label{
	padding: 24px 24px 34px 24px;
	font-size: 24px;
	font-weight: bold;
	background-color: #FFA700;
	color: #fff;
}
.foot_head{
	font-size: 20px;
	color: #FFA700;
	font-weight: bold;
}
.flex_foot{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px 0px;
}
.flex_sub{
	display: flex;
	justify-content: space-between;
}
.foot_title{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding-bottom: 20px;
}
.foot_date{
	color: #fff;
	font-size: 24px;
}
.flex__{
	display: flex;
}
.copyright{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.flex_end{
	display: flex;
	justify-content: space-between;
}
.social_icon{
	cursor: pointer;
}
::-webkit-scrollbar{
	width:10px;
}
::-webkit-scrollbar-track{
       background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(0, 22, 67, 0.5);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #FFA700;
}